/* Style Sheet */

.homeback {
    background-color: aqua;
}
.header{
    color: orange;
    background-color: aqua;
    text-align: center;
}

.links {
    display: block;
    text-align: center;
}

.fl{
    color: red;
}

.sl{
    color: rgb(255, 183, 0);
}

.tl{
    color: green;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main1 {
    text-align: center;
    color: green;
}

.tlist {
    color: green;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

ol {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.tback {
    background-color: yellow;
}

/* For pasta html*/
.mains {
    color: red;
    text-align: center;
}

.fback {
    background-color: yellow;
}

.flist {
    color: red;
}

/* For bread */
.main2 {
    color:rgb(255, 183, 0);
    text-align: center;
}

.sback {
    background-color: green;
}

.slist {
    color: rgb(255, 183, 0);
}